*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

html{
    font-family: sans-serif;
    align-items: center;
    position: relative;
}
.container{
    height: 100vh;
    width: 100vw;
    background:url(./assets/img.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.form_container{
   left: 40%;
   top: 25%;
   position: absolute;
   
}
input[type=text]{
    width: 300px;
    height: 40px;
    border-radius: 200px;
    border: none;
}
input[type=text]:focus{
    border: none;
    outline: none;
}
button{
    margin-left: 90px;
    margin-top: 20px;
    width: 100px;
    height: 40px;
    border-radius: 10px;
    border: 1px solid white;
    background: rgb(204, 160, 65);
    cursor: pointer;
    outline: none;
    

}

button:focus{
    outline: none;
    border: none;
}
.result-container{
    width: 200px;
    height: 250px;
    background: white;
    position: absolute;
    left: 43%;
    top: 50%;
    margin: 0;
    border-radius: 25px;
    box-shadow: 0px 5px 10px black;

}
.name_box,.degree-box,.icon-box,.desc-box{
    display: flex;
    justify-content: center;
    margin-top: 10px;

}
.name_box{
    font-size: 20px;
}
.degree-box{
    font-size: 40px;
}